<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  {% seo title=false %}
  {% feed_meta %}

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- Favicon -->

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  {% if site.theme_config.appearance_toggle %}
    {% include toggle_theme_js.html %}
  {% endif %}

  {%- include custom_head.html -%}

  <!---- Do not use Production in This ------> 
  <!---- Do not use Production in This, it's only for staging ------>

  <!----For Subscriber ------> 
  <script type="text/javascript">var subscribersSiteId='9fce956b-8ca4-4370-997d-d16717a70577';</script><script type="text/javascript" src="https://cdn.subscribersdemo.com/assets/subscribers.js"></script>
  
  <!----For Hellobar ------>
  <script src="https://edge-my.hellobar.com/bf658d18800c2cc74aaa90c6213ff9556d96d22e.js" type="text/javascript" charset="utf-8" async="async"> </script>
  
</head>
