<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  {% seo title=false %}
  {% feed_meta %}

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- Favicon -->

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
  {% if site.theme_config.appearance_toggle %}
    {% include toggle_theme_js.html %}
  {% endif %}

  {%- include custom_head.html -%}
  <!---staging---->
  <script src="https://my.hellobar.com/2641163a73b1d820fc73f051dcb5a74223d5dce7.js" type="text/javascript" charset="utf-8" async="async"> </script>
<!--   <script src="https://my.hellobar.com/ae8a9a0ce218c9a5cc4dfb7dbf92cc1952e0609b.js" type="text/javascript" charset="utf-8" async="async"> </script> -->
  <!---script type="text/javascript">var subscribersSiteId='7bbc30ca-b0ed-4ea7-9126-436c2d162274';</script><script type="text/javascript" src="https://cdn.subscribersdemo.com/assets/subscribers.js"></script--->
  <!---prod---->


<!--   <script type="text/javascript">var subscribersSiteId='ca6fd77b-7657-44ec-bf72-e580569533ce';</script><script type="text/javascript" src="https://cdn.subscribers.com/assets/subscribers.js"></script>
 -->
<script type="text/javascript">var subscribersSiteId='e3b3c7d4-131c-4ee9-98a0-4d99d10ff468';</script>
<script type="text/javascript" src="https://cdn.subscribersdemo.com/assets/subscribers.js"></script>


</head>
